:root{
--bg-color:#272b30;
--card-bg:#9fa1a4;
}
.badge{
color: #7a8288;
/* background-color: var(--card-bg); */
}
.navbar{
  z-index: 10;
  background-color: var(--bg-color);
}
.icon{
  color: #7a8288;
}
body{
  color:#fff;
background-color: var(--bg-color);

}
.logo{

  width: 60px;
  height: 30px;
}
.card{
  width: 18rem;
}
 .card-list{
  overflow: hidden;
 }
.card:hover{
  transition: 2s;
  transform: scale(1.1 , 1.1);
}
.card{
  background-color: var(--bg-color);
}
a{
text-decoration: none;
}
